# Python String Indexing
## 1.1 What is String Indexing?
String indexing in Python allows you to access individual characters in a string by their position, known as the index. Each character in a string has a unique index:

- Positive indexing starts from 0, where 0 refers to the first character.
- Negative indexing starts from -1, where -1 refers to the last character.

In [ ]:
word = "Python"
print(word[0])    # Output: P (first character)
print(word[3])    # Output: h (fourth character)
print(word[-1])   # Output: n (last character)
print(word[-2])   # Output: o (second last character)

## 1.2 String Slicing

In Python, you can access a range of characters (a substring) in a string using **slicing**. Slicing allows you to specify the starting and ending indices of the substring, though the character at the end index is **not included**.

`string_variable[start:end]`

- `start`: The index where the slice begins (inclusive).
- `end`: The index where the slice ends (exclusive).

In [ ]:
word = "Python"
print(word[0:4])    # Output: Pyth (characters from index 0 to 3)
print(word[:2])     # Output: Py (characters from index 0 to 1)
print(word[2:])     # Output: thon (characters from index 2 to the end)
print(word[-4:-2])

Pyth
Py
thon
th

## 1.3 Step Slicing

In Python, you can also add a **step** to your slicing, which allows you to skip characters. By default, the step is `1` (no skipping).

`string_variable[start:end:step]`

In [ ]:
word = "Python"
print(word[::2])    # Output: Pto (every second character)
print(word[1::2])   # Output: yhn (starting from index 1, every second character)
print(word[::-1])

Pto
yhn
nohtyP

## Exercise 001
Write a program that asks the user for a word and then prints:

- The first and last characters.
- A substring from the second to the fourth character.
- The word in reverse using slicing.

In [ ]:
word = input("Enter a word: ")

# First and last characters
print("First character:", word[0])
print("Last character:", word[-1])

# Substring from second to fourth character
print("Substring (2nd to 4th character):", word[1:4])

# Word in reverse
print("Reversed word:", word[::-1])

First character: d
Last character: p
Substring (2nd to 4th character): ata
Reversed word: pamdaoratad

# String Methods

## `strip()` – Removing Unwanted Spaces

The `strip()` method removes leading and trailing whitespace (spaces, tabs, newlines) from a string.

`example.strip()`

In [ ]:
text = "  Hello, World!  "
cleaned_text = text.strip()
print(f"'{cleaned_text}'")  # Output: 'Hello, World!'

'Hello, World!'

In [ ]:
text = "  Hello, Python!!!"
cleaned_text = text.rstrip("!")
print(f"'{cleaned_text}'")  # Output: '  Hello, Python'

'  Hello, Python'

In [ ]:
text = "   Hello, World!   "
cleaned_text = text.lstrip()
print(f"'{cleaned_text}'")  # Output: 'Hello, World!   '

'Hello, World!   '

## `lower()` and `upper()` – Case Conversion

- The `lower()` method converts all characters in a string to lowercase.
- The `upper()` method converts all characters in a string to uppercase.

`example.lower()`
`example.upper()`

In [ ]:
text = "Data Science is Amazing!"
cleaned_text = text.lower()  # Convert to lowercase for consistent analysis
print(cleaned_text)  # Output: 'data science is amazing!'

data science is amazing!

## `replace()` – Making Abbreviations Understandable

The `replace()` method is often used to standardize data, such as replacing abbreviations, correcting misspellings, or removing unwanted characters.

`example.replace("abbreviation", "full term")`

In [ ]:
message = "CEO said to check the KPIs ASAP."
decoded_message = message.replace("KPIs", "Key Performance Indicators").replace("ASAP", "as soon as possible")
print(decoded_message)  # Output: 'CEO said to check the Key Performance Indicators as soon as possible.'

##`startswith()` and `endswith()` – Filtering Data

In datasets with specific patterns (like filenames, URLs, or email addresses), you may want to filter strings that start or end with certain keywords.

- `example.startswith("keyword")`: Checks if the string starts with the specified keyword.
- `example.endswith("keyword")`: Checks if the string ends with the specified keyword.

In [ ]:
email = "user@gmail.com"
is_valid = email.endswith("gmail.com")  # Checking if email ends with '.com'
print(is_valid)  # Output: True

True

In [ ]:
phone = "+9890312811111"
is_valid = phone.startswith("+98")  # Checking if email ends with '.com'
print(is_valid)  # Output: True

True

## `join()` – Combining Text Data

After processing, you might want to recombine text fields. The `join()` method is often used to concatenate lists back into a single string.

`separator.join(list_of_strings)`

In [ ]:
words = ["Data", "Science", "is", "fun"]
sentence = " ".join(words)  # Combine list of words into a sentence
print(sentence)  # Output: 'Data Science is fun'

DataScienceisfun

## `isalpha()`, `isdigit()`, and `isalnum()` – Validating Data

In data cleaning, it's essential to verify the type of data in a string, especially when validating input fields like IDs, phone numbers, or product codes.

- `example.isalpha()`: Returns `True` if all characters in the string are alphabetic.
- `example.isdigit()`: Returns `True` if all characters in the string are digits.
- `example.isalnum()`: Returns `True` if all characters in the string are alphanumeric (letters and digits).

In [ ]:
id_code = "A1234"
is_valid = id_code.isalnum()  # Check if ID contains only letters and numbers
print(is_valid)  # Output: True

phone = "+9890312811111"
print(phone.isdigit())

True
False

##`format()` – Inserting Variables into Strings

When working with datasets, you often need to dynamically create strings with variable values. The `format()` method is helpful for generating custom messages, reports, or labels.

`"Hello, {}. Your score is {}".format(name, score)`

In [ ]:
column_name = "age"
missing_values = 5
message = "The column {} has {} missing values.".format(column_name, missing_values)
print(message)  # Output: The column 'age' has 5 missing values.
message2 = f"The column {column_name} has {missing_values} missing values."
print(message2)

The column age has 5 missing values.
The column age has 5 missing values.

# Python Data Structures

## 1. Lists

### 1.1 What is a List?

A list is a collection of items that are ordered, mutable (can be changed), and allow duplicate elements. Lists are one of the most commonly used data structures in Python and are defined using square brackets `[]`.

In [ ]:
numbers = [10, 20, 30, 40, 50]
fruits = ["apple", "banana", "cherry"]
my_list = ['a', True, 35, [1,2,'a'], numbers]

In [ ]:
my_list

['a', True, 35, [1, 2, 'a'], [10, 20, 30, 40, 50]]

## 1.2 List Indexing

Just like strings, you can access individual elements in a list using their index. Python lists use **zero-based indexing**:

- **Positive indexing** starts from `0`.
- **Negative indexing** starts from `-1` (for accessing elements from the end).

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(numbers[0])   # Output: 10 (first element)
print(numbers[2])   # Output: 30 (third element)
print(numbers[-1])  # Output: 50 (last element)
print(numbers[-2])  # Output: 40 (second last element)

### Exercise 002: Help! Extract the Hidden Message!

**Scenario:**  
You're a Python treasure hunter, and a message has been hidden deep inside a list. Your mission, should you choose to accept it, is to navigate through the twists and turns of the list and extract the secret message!

**The List:**  
```python
my_list = ['a', True, 35, [1, 2, 'a'], [10, 20, ['save me', 40], 'Hi']]

In [ ]:
my_list = ['a', True, 35, [1, 2, 'a'], [10, 20, ['save me', 40], 'Hi']]

# Step by step rescue mission
message = my_list[4][2][0]  # Extracting the hidden message
print(message)  # Output: 'save me'

save me

## 1.3 List Slicing

You can also access a range of elements from a list using **slicing**. Slicing allows you to extract a part of the list by specifying a start and end index (the end index is exclusive).

```python
my_list[start:end]

In [ ]:
numbers = [10, 20, 'python', 40, 50, 60, 'a', ]

print(numbers[1:4])
print(numbers[:3])
print(numbers[2:])
print(numbers[2::2])

[20, 'python', 40]
[10, 20, 'python']
['python', 40, 50, 60, 'a']
['python', 50, 'a']

## 1.4 List Methods

Lists have many built-in methods that allow you to modify and manipulate them. Here are some commonly used methods:

1. **`append()`** – Adds an element to the end of the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

2. **`insert()`** – Inserts an element at a specific position.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "kiwi")
print(fruits)  # Output: ['apple', 'kiwi', 'banana', 'cherry']

['apple', 'kiwi', 'banana', 'cherry']

3. **`pop()`** – Removes and returns an element at a given index (default is the last element).

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)  # Output: ['apple', 'cherry'] (removes "banana")

['apple', 'cherry']

4. **`remove()`** – Removes the first occurrence of an element.

In [ ]:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'banana'] (removes the first "banana")

['apple', 'cherry', 'banana']

In [ ]:
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

5. **`sort()`** – Sorts the list in place (ascending order by default).

In [ ]:
numbers = [30, 10, 50, 20, 40]
numbers.sort()
print(numbers)  # Output: [10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]

In [ ]:
numbers = [30, 10, 50, 20, 40]
numbers.sort(reverse=True)
print(numbers)

[50, 40, 30, 20, 10]

6. **`reverse()`** – Reverses the list in place.

In [ ]:
fruits = ["apple", "melon", "banana", "cherry"]
fruits.reverse()
print(fruits)  # Output: ['cherry', 'banana', 'apple']

['cherry', 'banana', 'melon', 'apple']

## 1.5 Split Method

The `split()` method in Python is used to divide a string into a list of substrings based on a specified delimiter. If no delimiter is provided, it defaults to splitting by spaces.

```python
string.split(separator, maxsplit)

- separator (optional): The delimiter by which to split the string. By default, it splits on any whitespace (spaces, tabs, newlines).
- maxsplit (optional): The maximum number of splits to perform. If not provided, the string is split at every occurrence of the separator.

In [ ]:
# Split by Spaces (Default Behavior)
text = "Python is fun"
words = text.split()  # Default split on whitespace
print(words)

['Python', 'is', 'fun']

In [ ]:
# Split by a Specific Character (Comma)
csv = "apple,banana,cherry"
fruits = csv.split(",")  # Split using a comma as the separator
print(fruits)

In [ ]:
#  Limiting the Number of Splits
sentence = "Python is fun and easy"
result = sentence.split(" ", 2)  # Split on space, but only perform 2 splits
print(result)

In [ ]:
data = "25, John Doe, New York, USA"
age, name, city, country = data.split(", ")  # Splitting by comma and space
print(f"Age: {age}, Name: {name}, City: {city}, Country: {country}")

In [ ]:
sentence = "  Python   is    fun!   "
cleaned_sentence = " ".join(sentence.split())  # Splitting and then joining to remove extra spaces
print(f"Cleaned Sentence: '{cleaned_sentence}'")

Cleaned Sentence: 'Python is fun!'

## Exercise 003: Split and Count Words

Write a Python program that takes a sentence as input, splits it into individual words, and prints how many words the sentence contains.

In [ ]:
sentence = "Python is great for data science"
print(f" number of words: {len(sentence.split())}")

 number of words: 6

## 2. Tuples

### 2.1 What is a Tuple?

Tuples are created by placing elements inside parentheses `()`, separated by commas.

**Key Features:**
- **Immutable**: Once a tuple is created, you can’t modify it.
- **Ordered**: Tuples maintain the order of elements, just like lists.
- **Can Contain Mixed Data Types**: Tuples can hold integers, strings, floats, and even other tuples!

In [ ]:
 my_tuple = (10, 20, 30, "Python", True)
print(my_tuple)  # Output: (10, 20, 30, 'Python', True)

In [ ]:
another_tuple = 1, 2, 3
print(another_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

In [ ]:
# Immutability in Action
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Error! TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Indexing
tuple_example = ("apple", "banana", "cherry", "date")
print(tuple_example[1])  # Output: banana

banana

### 2.2 Tuple Methods

Although tuples don’t have as many methods as lists (since they are immutable), there are a couple of useful methods:

- **`count()`** – Counts how many times a value appears in the tuple.
- **`index()`** – Returns the index of the first occurrence of a value.

In [ ]:
fruits = ("apple", "banana", "cherry", "apple", "date")
apple_count = fruits.count("apple")
print(apple_count)  # Output: 2

apple_index = fruits.index("apple")
print(apple_index)  # Output: 0

2
0

### 2.3 Tuple Packing and Unpacking

In [ ]:
hero_tuple = "Spiderman", "Iron Man", "Thor"  # Packing multiple values into a tuple
print(hero_tuple)  # Output: ('Spiderman', 'Iron Man', 'Thor')

('Spiderman', 'Iron Man', 'Thor')

In [ ]:
hero1, hero2, hero3 = hero_tuple  # Unpacking tuple into variables
print(hero1)  # Output: Spiderman
print(hero2)  # Output: Iron Man
print(hero3)  # Output: Thor

Spiderman
Iron Man
Thor

# 3. Dictionary

## 3.1 Definition

A dictionary in Python is a collection of key-value pairs. Each key is associated with a specific value, and together, they form an item in the dictionary. Unlike lists or tuples, which store values based on their position (index), dictionaries store values based on unique keys.

Dictionaries are highly efficient for lookup operations, making them ideal for scenarios where you need to associate related data, like a name with an age or an ID with a product description.

- **Keys** must be unique and immutable (e.g., strings, numbers, tuples).
- **Values** can be of any data type and can be duplicated.

In [ ]:
person_1 = {
    "name": "Milad",
    "age": 27,
    "profession": "Data Scientist"
}
print(person_1)

{'name': 'Milad', 'age': 27, 'profession': 'Data Scientist'}

In [ ]:
person_2 = {
    "name": "Alice",
    "age": 25,
    "profession": "ML engineer"
}
print(person_2)

{'name': 'Alice', 'age': 25, 'profession': 'ML engineer'}

In [ ]:
my_hr = {'id_01':person_1, 'id_02':person_2}

In [ ]:
my_hr

{'id_01': {'name': 'Milad', 'age': 27, 'profession': 'Data Scientist'},
 'id_02': {'name': 'Alice', 'age': 25, 'profession': 'ML engineer'}}

In [ ]:
my_dict = {[1,2,3]:'hi'}

TypeError: unhashable type: 'list'

In [ ]:
my_dict_2 = {(1,2,3):'hi'}

### 3.1.1 Accessing Values

You can access the values in a dictionary by referencing their keys. The syntax for accessing a value is:

```python
value = my_dict[key]

In [ ]:
person_1['name']

'Milad'

In [ ]:
my_hr['id_01']['name']

'Milad'

### 3.1.2 Modifying Values

You can change the value associated with a key by reassigning it. The syntax for modifying a value is:

```python
my_dict[key] = new_value

In [ ]:
person_1["age"] = 31
print(person_1)

{'name': 'Milad', 'age': 31, 'profession': 'Data Scientist'}

### 3.1.3 Adding New Key-Value Pairs

To add a new key-value pair to a dictionary, simply assign a value to a new key. If the key does not already exist in the dictionary, it will be created with the specified value.

#### Syntax:
```python
my_dict[new_key] = new_value

In [ ]:
person_1["city"] = "Ahvaz"

In [ ]:
person_1

{'name': 'Milad', 'age': 31, 'profession': 'Data Scientist', 'city': 'Ahvaz'}

## Exercise 004:

Create a dictionary called `mixed_data` that stores the following:

- A key **"names"** with a value of a list of three names.
- A key **"ages"** with a value of a tuple containing three ages.
- A key **"scores"** with a value of a dictionary of subject scores: **"math": 90**, **"science": 85**, **"english": 88**.

Then, print out the value of **"scores"** from the dictionary.

In [ ]:
mixed_data = {
    "names": ["Alice", "Bob", "Charlie"],
    "ages": (24, 30, 28),
    "scores": {
        "math": 90,
        "science": 85,
        "english": 88
    }
}

# Print the value of the key "scores"
print(mixed_data["scores"])

{'math': 90, 'science': 85, 'english': 88}

## 3.2 Common Dictionary Methods

### 1. `get()` – Safely Access a Value

The `get()` method is used to access the value associated with a specified key in a dictionary. If the key doesn’t exist, `get()` returns `None` (or a default value if specified), preventing errors that would occur if using square brackets.

### Syntax:
```python
dictionary.get(key, default_value)

In [ ]:
person_2

{'name': 'Alice', 'age': 25, 'profession': 'ML engineer'}

In [ ]:
person_2['city']

KeyError: 'city'

In [ ]:
print(person_2.get('cit'))

None

In [ ]:
city = person_2.get("city", "Unknown")
print(city)  # Output: Unknown

Unknown

### 2. `keys()` – Get All Keys

The `keys()` method returns a view object that displays a list of all the keys in the dictionary. This view can be iterated over or converted into a list.

### Syntax:
```python
dictionary.keys()

In [ ]:
keys = person_1.keys()
print(keys)

dict_keys(['name', 'age', 'profession', 'city'])

### 3. `values()` – Get All Values

The `values()` method returns a view object containing all the values in the dictionary. Similar to `keys()`, this view can be iterated over or converted into a list.

### Syntax:
```python
dictionary.values()

In [ ]:
values = person_1.values()
print(values)

dict_values(['Milad', 31, 'Data Scientist', 'Ahvaz'])

### 4. `items()` – Get All Key-Value Pairs

The `items()` method returns a view object containing a list of tuples, where each tuple is a key-value pair from the dictionary. This view can be iterated over or converted into a list.

### Syntax:
```python
dictionary.items()

In [ ]:
items = person_1.items()
print(items)

dict_items([('name', 'Milad'), ('age', 31), ('profession', 'Data Scientist'), ('city', 'Ahvaz')])

### 5. `update()` – Update with Another Dictionary

The `update()` method allows you to add key-value pairs from another dictionary to the existing dictionary. If a key already exists, its value will be updated.

### Syntax:
```python
dictionary.update(other_dictionary)

In [ ]:
additional_info = {"hobby": "chess", "city": "Boston"}
person_2.update(additional_info)
print(person_2)

{'name': 'Alice', 'age': 25, 'profession': 'ML engineer', 'hobby': 'chess', 'city': 'Boston'}

# 4. Set

## Overview

- A **set** is an unordered collection of unique elements.
- **Duplicates** are not allowed in sets.
- Sets are **mutable**, meaning you can add or remove elements after a set is created.
- Unlike lists or tuples, **sets do not maintain order**, so the elements can appear in any sequence.
- Sets can be created using curly braces `{}` or the `set()` function.

In [ ]:
my_set = {1, 'a', 3, 4}
print(my_set)

{1, 3, 'a', 4}

In [ ]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
my_list = [1, 2, 3, 4, 2]
my_set = set(my_list)  # List with duplicates
print(my_set)
# Output: {1, 2, 3, 4}  # Duplicates are automatically removed

{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set.remove(3)  # Removes 3 from the set
my_set.discard(10)  # Does nothing since 10 is not in the set
print(my_set)
# Output: {1, 2, 4}

{1, 2, 4}