# 1. `print()` Function

The `print()` function is used to display information on the screen. It outputs data that you specify within the parentheses. You can use `print()` to show text, numbers, or the results of operations.

print(value1, value2, ..., sep=' ', end='\n')


- **value1, value2, ...**: Values you want to print. These can be strings, numbers, or variables.
- **sep**: Defines the separator between multiple values (default is a space).
- **end**: Defines what happens at the end of the print statement (default is a newline `\n`).

In [1]:
print("Hello world")

Hello world

In [2]:
print(2)

2

In [4]:
print("the sum 2 and 3 is:", 5)

the sum 2 and 3 is: 5

In [6]:
print('hello', 'world', sep='* ')

hello* world

In [9]:
print('milad')
print('ali')

milad
ali

In [8]:
print('milad', end=', ')
print('ali')

milad, ali

# 2. Python Variables and Data Types

## 2.1 What are Variables?

In Python, a variable is a named location used to store data in memory. Variables allow you to reference data throughout your program by name rather than using the actual value.

variable_name = value

- **variable_name**: A unique identifier for the variable (should start with a letter or underscore).
- **value**: The data you want to store in the variable.

In [10]:
x = 2
X = 3

In [11]:
x = 5 # an integrer variable
name = 'milad' # a string variabl

In [12]:
print(name)

milad

## 2.2 Common Data Types

Python has several built-in data types that you can use to define the kind of data stored in a variable:

- **Integers**: Whole numbers, e.g., 5, -3, 42
- **Floats**: Decimal numbers, e.g., 3.14, -0.001, 2.0
- **Strings**: Sequence of characters, enclosed in single or double quotes, e.g., "Hello", 'World'
- **Booleans**: Represents `True` or `False`

In [14]:
num = 2
type(num)

int

In [15]:
score = 19.5
type(score)

float

## 2.3 Typecasting

Typecasting is the process of converting a variable from one data type to another. This is often necessary when performing operations that require specific data types.

### Common Typecasting Functions:
- **int()**: Converts a value to an integer.
- **float()**: Converts a value to a float.
- **str()**: Converts a value to a string.

In [16]:
number = 3.124
print(number)

3.124

In [19]:
number_int = int(number)
print(type(number_int))
print(number_int)

<class 'int'>
3

In [20]:
number_string = str(number)
print(type(number_string))
print(number_string)

<class 'str'>
3.124

### Using f-Strings with `print()`

In Python, f-strings (formatted string literals) provide a way to embed expressions inside string literals, using curly braces `{}`. This allows for more readable and concise string formatting compared to older methods.

#### Syntax:
print(f'{expression}')

f: The letter f before the opening quotation mark indicates that the string is an f-string.
{expression}: Inside the curly braces, you can place any valid Python expression, variable, or function call, which will be evaluated at runtime and formatted into the string.

In [22]:
age = 27
name = 'milad'
print('Name:', name, ', age:', age)

Name: milad , age: 27

In [23]:
print('Name: name , age: age')

Name: name , age: age

In [26]:
print(f'Name: {name} , Age: {age}')

Name: milad , Age: 27

# 3. Python Basic Operations: Arithmetic and String Operations

## 3.1 Arithmetic Operations for Numbers

Arithmetic operations are used to perform calculations on numeric data types (integers and floats). Python supports several arithmetic operators:

### Arithmetic Operators:
- **Addition (+)**: Adds two numbers.
- **Subtraction (-)**: Subtracts one number from another.
- **Multiplication (*)**: Multiplies two numbers.
- **Division (/)**: Divides one number by another (always returns a float).
- **Floor Division (//)**: Divides one number by another and returns the largest integer less than or equal to the result.
- **Modulus (%)**: Returns the remainder of the division of one number by another.
- **Exponentiation (**)**: Raises one number to the power of another.

In [27]:
x = 10
y = 3

In [29]:
print("addition:", x + y)

addition: 13

In [30]:
print('substraction: ', x - y)

substraction:  7

In [31]:
print('Division: ', x / y)

Division:  3.3333333333333335

In [32]:
print('Floor Division: ', x // y)

Floor Division:  3

In [33]:
print('Modulus: ', x % y)

Modulus:  1

## 3.2 String Operations

Strings in Python can also be manipulated using various operators. The most common operation is concatenation, which combines two or more strings.

### String Operators:
- **Concatenation (+)**: Combines two strings into one.
- **Repetition (*)**: Repeats a string a specified number of times.

In [34]:
first_name = 'milad'
last_name = 'tahvilzadeh'

In [37]:
full_name = first_name + ' ' + last_name
print(full_name)

milad tahvilzadeh

In [42]:
print((full_name + ' ') * 3)

milad tahvilzadeh milad tahvilzadeh milad tahvilzadeh

# 4. `input()` Function

The `input()` function is used to take input from the user. It prompts the user to enter some data, which is then returned as a string.


- **prompt**: A string that is displayed to the user, asking for input (optional).

In [51]:
input()

gnknsv

'gnknsv'

In [52]:
user_input = input()

milad

In [53]:
print(user_input)

milad

In [54]:
birthyear = input('Enter your birthyear: ')
name = input('Enter your name: ')
print(type(birthyear))

Enter your birthyear: 1997
Enter your name: sara
<class 'str'>

In [56]:
age = 2024 - int(birthyear)
print(f'Hi {name}! Your age is {age}')

Hi sara! Your age is 27

### Exercise 001
The program that you create for this exercise will begin by reading the cost of a meal
ordered at a restaurant from the user. Then your program will compute the tax and
tip for the meal. Use your local tax rate when computing the amount of tax owing.
Compute the tip as 18 percent of the meal amount (without the tax). The output from
your program should include the tax amount, the tip amount, and the grand total for
the meal including both the tax and the tip. Format the output so that all of the values
are displayed using two decimal places.

In [59]:
# Reading cost of the meal
cost = float(input("Please Enter the cost of the meal: "))

# Initialize parameters
tax_rate = 0.09
tip_rate = 0.18

# Calculate tax and tip
tax = tax_rate * cost
tip = tip_rate * cost

# Calculate total amount
total_amount = cost + tip + tax

print(f"The total amount is: {total_amount}")
print(f"The tax amount is: {tax}")
print(f"The tip amount is: {tip}")

Please Enter the cost of the meal: 3000
The total amount is: 3810.0
The tax amount is: 270.0
The tip amount is: 540.0

### Exercise 002
The volume of a cylinder can be computed by multiplying the area of its circular
base by its height. Write a program that reads the radius of the cylinder, along with
its height, from the user and computes its volume. Display the result rounded to one
decimal place.

## Exercise 003
Develop a program that reads a four-digit integer from the user and displays the sum
of its digits. For example, if the user enters 3141 then your program should display
3 + 1 + 4 + 1 = 9.

In [65]:
number = int(input("enter four digit integer: "))

digit_1 = number // 1000
digit_2 = (number // 100) % 10
digit_3 = (number // 10) % 10
digit_4 = number % 10

print(digit_1 + digit_2 + digit_3 + digit_4)

enter four digit integer: 2578
22

In [72]:
number = input("enter four digit integer: ")

digit_1 = int(number[0])
digit_2 = int(number[1])
digit_3 = int(number[2])
digit_4 = int(number[3])
print(digit_1 + digit_2 + digit_3 + digit_4)

enter four digit integer: 4548
21

In [66]:
text = '1254'

In [70]:
text[-1]

'4'

### Exercise 004
Create a program that reads three integers from the user and displays them in sorted
order (from smallest to largest). Use the min and max functions to find the smallest
and largest values. The middle value can be found by computing the sum of all three
values, and then subtracting the minimum value and the maximum value.